<div class="d-flex justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12 mt-4 table-responsive-container ">
    <table mat-table [dataSource]="dataSource" matSort #sort="matSort" class="fancy-table ">

      <ng-container matColumnDef="feedback">
        <th mat-header-cell *matHeaderCellDef> Feedback </th>
        <td mat-cell *matCellDef="let row" (click)="toggleRow(row)" class="feedback-cell">
          <span *ngIf="!row.expanded">
            {{ row.feedback | slice:0:10 }}{{row.feedback.length>10?'...':''}}
          </span>

            <!-- If expanded show full feedback -->
          <span *ngIf="row.expanded">
            {{ row.feedback }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="flavour">
        <th mat-header-cell *matHeaderCellDef> Flavour </th>
        <td mat-cell *matCellDef="let row"> {{ row.flavour }} </td>
      </ng-container>

      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu </th>
        <td mat-cell *matCellDef="let row"> {{ row.menu }} </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
        <td mat-cell *matCellDef="let row"> {{ row.rating }} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{ row.date | date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>

    <mat-paginator class="shadow p-3 mb-5 bg-body-tertiary rounded" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>



<div class="d-flex justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12 analytics-container mt-5 d-flex flex-column">

    <!-- Rating Card -->
    <div class="rating-card">
      <h3>Average Rating</h3>
      <h1>{{ averageRating }}</h1>
    </div>

    <!-- Rating Trend Chart -->
    <div class="chart-box">
      <h4 class="text-center">Rating Trend</h4>
      <canvas id="ratingTrendChart"></canvas>
    </div>

    <!-- Feedback Count Chart -->
    <div class="chart-box">
      <h4 class="text-center">Feedback Count Per Day</h4>
      <canvas id="feedbackCountChart"></canvas>
    </div>

    <!-- Flavour Pie Chart -->
    <div class="chart-box">
      <h4 class="text-center">Flavour Distribution</h4>
      <canvas id="flavourPieChart"></canvas>
    </div>

  </div>
</div>
