<div style="height: 100vh;" class="d-flex align-items-center justify-content-center">
  <div *ngIf="!submitted" class="d-flex align-items-center justify-content-center col-10 col-md-8 col-lg-6 m-4 shadow p-3 mb-5 bg-body-tertiary rounded" >
      <div class="col-10 d-flex flex-column align-items-center">
        <h2 class="my-3">Feedback Form</h2>
        <div class="d-flex flex-column w-100 mb-3">
          <label class=" fw-bold">Main Menu</label>
          <div class="dropdown w-100">
            <button (click)="menuerr=false;" class="w-100 btn border dropdown-toggle text-start" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{submitdata.menu || 'Select Menu'}}
            </button>
            <ul class="dropdown-menu w-100" style="cursor: pointer;">
              <li *ngFor="let item of menu" class="px-2" (click)="submitdata.menu= item;submitdata.flavour= '' ">{{item}}</li>
            </ul>
          </div>
          <p class="text-danger" style="margin:0px !important" *ngIf="menuerr">Before selecting flavour please select Menu</p>
        </div>
        <div class="d-flex flex-column w-100 mb-3">
          <label class=" fw-bold">Flavour</label>
          <div class="dropdown w-100">
            <button (click)="submitdata.menu?menuerr = false:menuerr=true" class="w-100 btn border dropdown-toggle text-start" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{submitdata.flavour || 'Select Flavour'}}
            </button>
            <ul class="dropdown-menu w-100" style="cursor: pointer;">
              <ng-container *ngIf="submitdata.menu != '' && flavour">
                <li *ngFor="let flavour of flavour[submitdata.menu]" class="px-2" (click)="submitdata.flavour= flavour ">{{flavour}}</li>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class="w-100 mb-3">
          <label class=" fw-bold">Rating</label>
          <div>
            <i id="star" *ngFor="let key of keys" (click)="starclick(key)" style="font-size: 30px;" [ngClass]="{'bi-star-fill text-primary':numberofstars[key],'bi-star':!numberofstars[key]}" class="bi me-2"></i>
          </div>
        </div>
        <div class="w-100 mb-3">
          <label class=" fw-bold">Feedback</label>
          <textarea class="w-100 form-control" placeholder="Please enter your feedback hear" [(ngModel)]="submitdata.feedback"></textarea>
        </div>
        <p *ngIf="error" class="text-danger">{{error}}</p>
        <button class="w-100 my-3 btn btn-primary fw-bold" (click)="submit()">Submit</button>
      </div>

  </div>
  <div *ngIf="submitted" class="d-flex flex-column align-items-center justify-content-center">
    <p class="fw-bold">Thank you for your valuable Feedback.</p>
    <i style="font-size: 100px;" class="bi bi-patch-check-fill text-primary"></i>
  </div>
</div>
